@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body {
    background-color: rgb(244, 247, 255);
    color: rgb(0, 0, 0);
    font-weight: 400;
}

header {
    padding: 20px;
    background-color: black;
    color: #FFF;
    text-align: center;
    box-shadow: 0px 3px 10px #24252a;
}

h2 {
    text-align: center;
    padding: 30px;
}

p {
    text-align: center;
    padding: 30px;
}

.container {
     text-align: center;
}
.container a {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    text-align: center;

}